/* 控制台内容层 */
html, body{
    background-color: #000000;
}
.console_box .console {
background-color: #000000;
font-size: 16px;
color: #CCCCCC;
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow: auto; /* 自动加入滚动条 */
}

.console_box .console p {
line-height: 120%;
margin: 0px;
padding-bottom: 1em; /* 段落下面留一空行的高度 */
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
}